<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ServerManagement.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    @*
        This is another type of location that can be used for interactivity.
        If you specify it here, the entire application will use this type of a rendermode.
        However, it is reccomended by Microsoft to specify rendermode location on the
        component level.

        It is also not reccomended to specify the rendermode on the ServerComponent.razor 
        file itself, because you can specify another render type on there, which can result
        in contradicting statements. 
    *@
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
